*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(200, 200, 70, 0.50);
    margin-left: 30px;
}

h1{
    padding-top: 20%;
    font-size: 2rem;
}
p{
    font-size: 20px;
    margin: 0 auto;
    padding-top: 5%;
    margin-bottom: 20px;



}